<div class="container">
  <p>Predicted Email for <%= @emailprediction_hash[:name] %> at <%= @emailprediction_hash[:company_url] %> </p>
  <% if @emailprediction_hash[:single_pattern] %>
    <%= erb :'_single', locals: {pattern: @emailprediction_hash[:patterns][0]} %>
  <% else %>
    <%= erb :'_multiple', locals: {patterns: @emailprediction_hash[:patterns]} %>
  <% end %>
</div>