<div class="container">
  <h1>Email Predictor</h1>
  <form action='/emailprediction' method='post'>
    <!-- <input type="hidden" name="_method" id="" value="DELETE" /> -->
    <input type="text" name="user[name]" placeholder="Name"/>
    <input type="text" name="user[url]" placeholder="Company Url">
    <input type="submit" value="Predict">
  </form>
</div>
