<div id="mainpage">
  <div class="container" id="submissiondiv">
    <h1>Email Predictor</h1>
    <form action='/emailprediction' method='post' id="emailprediction">
      <input type="text" name="user[name]" placeholder="Name" id="namefield"/>
      <input type="text" name="user[url]" placeholder="Company Url" id="urlfield"/>
      <input type="submit" value="Predict" />
    </form>
  </div>
</div>